.link-btn:before {
    left: auto;
    right: 0;
}
.th-btn,
.link-btn {
    i {
        transform: rotateY(180deg);
    }
}

select, .form-control, .form-select, textarea, input {
    direction: ltr;
}
.checklist ul {
    padding-right: 0;
    text-align: right;
}