.slick-arrow {
    right: var(--pos-x, -100px);
    left: auto;
    &.slick-prev {
        left: var(--pos-x, -100px);
        right: auto;
    }
}
.hero-slider-1 .slick-arrow.slick-next {
    transform: translate(0, calc(50% + 5px));
}
.service-featured_content .service-bg-shape {
    right: auto;
    left: 0;
    img {
        transform: rotateY(180deg);
    }
}
.wcu-box_icon {
    margin-left: 20px;
    margin-right: 0;
}
.wcu-img-half {
    margin-left: 126px;
    margin-right: 0;
}
.appointment-form-wrap {
    margin-right: auto;
    margin-left: 56px;
    &:after {
        left: 0;
        right: auto;
        border-right: solid 35px #B82110;
        border-left: solid 35px transparent;
    }
}
.team-card {
    .team-social {
        left: 30px;
        right: auto;
    }
}
.team-social-hover_btn {
    left: 30px;
    right: auto;
}
.accordion-card .accordion-button {
    padding: 12px 30px 12px 45px;
    &:after {
        left: 30px;
        right: auto;
        padding-right: 10px;
        padding-left: 0;
        clip-path: none;
        background-image: none;
    }
}
.testi-slider1 {
    margin-left: -220px;
    margin-right: 0;
}
.testi-card_profile {
    padding: 40px 30px;
}
.testi-card:after {
    right: -36px;
    left: auto;
    transform: rotate(45deg);
}
@media (max-width: 1600px) {
    .faq-bg-img1 {
        left: -8% !important;
        right: auto !important;
    }
    .testi-slider1 {
        margin-left: -150px;
    }
}
@include xxl {
    .hero-1 .th-hero-bg {
        background-position: -310px center;
    }
    .testi-slider1 {
        margin-left: -50px;
    }
}
@include xl {
    .hero-1 .th-hero-bg {
        background-position: -356px center;
    }
}
@include ml {
    .faq-bg-img1 {
        left: -24% !important;
    }
    .testi-slider1 {
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
    .testi-slider1 {
        margin-left: -12px;
    }
}
@include lg {
    .hero-1 .th-hero-bg {
        background-position: -464px center;
    }
    .wcu-wrap1 {
        margin: auto;
        .wcu-box {
            text-align: right;
        }
    }
    .testi-slider1 {
        margin-left: 0;
    }
}
@include sm {
    .wcu-wrap1 {
        margin: 0 40px;
    }
}
@include xs {
    .appointment-form-wrap {
        margin: 0 15px;
    }
    .wcu-img-half {
        margin: 0 0 0 85px;
    }
}
@include vxs {
    .wcu-img-half {
        margin: 0;
    }
}